.chatBox {
  flex: 1;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 300px;
}

.userMsg {
  align-self: flex-end;
  background: #e5e5e5;
  color: #323232;
  padding: 12px 20px;
  border-radius: 1.5rem;
  max-width: 80%;
}

.aiMsg {
  align-self: flex-start;
  color: #323232;
  padding: 10px 14px;
  border-radius: 0px 8px 8px 8px;
  max-width: 95%;
}

.referenceContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.previewContainer {
  padding: 1.5rem;
  border: 1px solid #e3e4e9;
  border-radius: 0.5rem;
}

/* Markdown styling */

.markdown {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #111;
}

.markdown ul,
.markdown ol {
  margin: 0.5em 0 0.5em 1.25em;
  padding: 0;
}

.markdown li {
  margin: 0.25em 0;
  line-height: 1.4;
  list-style-type: disc;
}

.markdown ol {
  list-style-position: outside;
}

.markdown code {
  font-family: monospace;
}

.markdown p {
  margin: 0.5em 0;
}

.markdown h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.markdown h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.markdown hr {
  margin: 1.5rem 0rem;
  border-top: 1px solid var(--ls-color-border-neutral-soft);
}

.markdown a{
  color: #3a1afe;
  text-decoration: underline;
}

.markdown pre {
  background: var(--ls-color-overlay-neutral-soft);
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: monospace;
}
