.previewContainer{
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}