body {
  background: #f9f9f9;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  min-height: 100vh;
  width:100%;
}

.chatShell,
.landingShell {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.landing {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}

.logo {
  height: 6rem;
}

.chatBody {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.chatFooter {
  position: sticky;
  bottom: 0;
  padding-bottom: 1.5rem;
}