.referenceTag{
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    align-items: center;
    background: #fff;
    border: 1px solid #E3E4E9;
    border-radius: 0.5rem;
    color: #333;
}

.referenceTag:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}